@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
        
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(82, 82, 86, 0.8),
        hsla(243, 98%, 23%, 0.8)   
    )!important;
}

.color-name {
    background-image: linear-gradient(
        to right,
        rgba(227, 227, 227, 0.8),
        hsl(243, 95%, 70%)   
    )!important;
    background-clip: text;
    color: transparent;
}

.link-style {
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  /* Effet de grossissement et de flou au survol */
  .link-style:hover {
    transform: scale(1.1);
    /* animation-duration: 0.5; */
    filter: blur(1px);
  }
